<div class="product-details-banner">
  <div class="product-photo" [ngStyle]="{'background-image': 'url(' + image + ')'}"></div>
  <div class="product-info">
    <general [rating]="4.8" [title]="'Trainers'" [subtitle]="'trainers in white'" [price]="76"></general>
    <a href="#" class="product-guide">Size Guide</a>
    <selects [sizes]="[1, 2, 3, 4, 5]" [quantity]="[1, 2, 3, 4, 5, 6, 7]"></selects>
    <bag></bag>
    <ul class="payments">
      <li class="payment" style="background-image: url(./assets/img/payments/aexpress.svg)"></li>
      <li class="payment" style="background-image: url(./assets/img/payments/mastercard.svg)"></li>
      <li class="payment" style="background-image: url(./assets/img/payments/paypal.svg)"></li>
      <li class="payment" style="background-image: url(./assets/img/payments/visa.svg)"></li>
    </ul>
    <span class="delivery">FREE Delivery & Returns</span>
  </div>
</div>
