<header *ngIf="title || mainControls || customControls">
  <ng-container *ngIf="title && customHeader"><div [innerHtml]="title"></div></ng-container>
  <h5 *ngIf="title && !customHeader" class="title">{{title}}</h5>
  <div *ngIf="!customControls && mainControls"
       class="widget-controls">
    <a *ngIf="settings || settingsInverse" href="#"><i class="la la-cog"></i></a>
    <a *ngIf="refresh" href="#" data-widgster="load" id="reloadId-{{randomId}}"
       tooltip="&gt;Reload" [placement]="tooltipPlacement" [isDisabled]="!showTooltip"
    >
      <strong *ngIf="isString(refresh); else refreshTemplate" class="text-gray-light">{{refresh}}</strong>
      <ng-template #refreshTemplate>
        <i class="la la-refresh"></i>
      </ng-template>
    </a>
    <a *ngIf="fullscreen" href="#" data-widgster="fullscreen" id="fullscreenId-{{randomId}}"
       tooltip="&gt;Fullscreen" [placement]="tooltipPlacement" [isDisabled]="!showTooltip"
    >
      <i class="glyphicon glyphicon-resize-full"></i>
    </a>
    <a *ngIf="fullscreen" href="#" data-widgster="restore" id="restoreId-{{randomId}}"
       tooltip="&gt;Restore" [placement]="tooltipPlacement" [isDisabled]="!showTooltip"
    >
      <i class="glyphicon glyphicon-resize-small"></i>
    </a>
    <a *ngIf="collapse" href="#" data-widgster="collapse" id="collapseId-{{randomId}}"
       tooltip="&gt;Collapse" [placement]="tooltipPlacement" [isDisabled]="!showTooltip"
    >
      <i class="la la-angle-down"></i>
    </a>
    <a *ngIf="collapse" href="#" data-widgster="expand" id="expandId-{{randomId}}"
       tooltip="&gt;Expand" [placement]="tooltipPlacement" [isDisabled]="!showTooltip"
    >
      <i class="la la-angle-up"></i>
    </a>
    <a *ngIf="close" href="#" data-widgster="close" id="closeId-{{randomId}}"
       tooltip="&gt;Close" [placement]="tooltipPlacement" [isDisabled]="!showTooltip"
    >
      <strong *ngIf="isString(close); else closeTemplate" class="text-gray-light">{{close}}</strong>
      <ng-template #closeTemplate>
        <i class="la la-remove"></i>
      </ng-template>
    </a>
  </div>
</header>


<div *ngIf="customControls" [innerHtml]="customControls" class="widget-controls"></div>
<div class="widget-body {{bodyClass}}">
  <ng-content></ng-content>
</div>
