<div *ngIf="!activeModalFilter">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">YOU ARE HERE</li>
    <li class="active breadcrumb-item">E-commerce</li>
  </ol>
  <h1 class="page-title">E-commerce - <span class="fw-semi-bold">Product Grid</span></h1>
  <div class="product-grid">
    <filter class="product-filters" [filters]="filters"></filter>
    <div class="product-mobile-filters">
      <button class="btn btn-transparent btn-lg" (click)="openModal(1)" >
        Sort <i class="fa fa-2x fa-angle-down"></i>
      </button>
      <button class="btn btn-transparent btn-lg" (click)="openModal(2)" >
        Filter <i class="fa fa-2x fa-angle-down"></i>
      </button>
    </div>
    <div class="products">
      <div *ngFor="let product of products" class="product-card">
        <div class="card-photo" [ngStyle]="{'background-image': 'url(' + product.image + ')'}">
          <div class="badge" *ngIf="product.label" [ngClass]="product.label === 'Sale' ? 'badge-danger' : 'badge-success'">{{product.label}}</div>
          <a role="button" class="star" (click)="changeItem(product.id)">
            <i class="fa" [ngClass]="product.starred ? 'fa-star' : 'fa-star-o'"></i>
          </a>
        </div>
        <h5 class="card-title">{{product.title}}</h5>
        <div class="card-description">{{product.subtitle}}</div>
        <div class="price" *ngIf="!product.isSale">
          ${{product.price}}
        </div>
        <div class="price price-sale" *ngIf="product.isSale">
          <span class="old">${{product.price.old}}</span>
          {{product.price.percents}}% off
          <span class="new"> ${{product.price.new}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<filter-modal [title]="'Sort'" (onClose)="closeModal()" [data]="filters.sortFilter" *ngIf="activeModalFilter === 1"></filter-modal>
<filter-modal [title]="'Filters'" (onClose)="closeModal()" [data]="filters.mainFilters" *ngIf="activeModalFilter === 2"></filter-modal>
