@import "../../../../../styles/helpers";

.bag {
  display: flex;
}

.btn-add {
  text-transform: uppercase;
  flex-grow: 1;

  img {
    height: 20px;
    margin-left: $spacer;
  }
}

.btn-star {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  border: 2px solid $border-color;
  background: transparent;

  img {
    height: 20px;
    width: 20px;
  }
}
