<div
  ng2-carouselamos
  [width]="1280"
  [items]="cards"
  [$item]="itemTemplate"
  [$prev]="prevTemplate"
  [$next]="nextTemplate"
></div>

<ng-template #prevTemplate>
  <button class="carousel-btn carousel-btn-left">
    <i class="fa fa-angle-left fa-2x"></i>
  </button>
</ng-template>

<ng-template #nextTemplate>
  <button class="carousel-btn carousel-btn-right">
    <i class="fa fa-angle-right fa-2x"></i>
  </button>
</ng-template>

<ng-template let-card #itemTemplate>
  <div class="product-card col-md-3 col-6">
    <div class="card-photo" [ngStyle]="{'background-image': 'url(' + card.image + ')'}">
      <div class="badge" *ngIf="card.label" [ngClass]="card.label === 'Sale' ? 'badge-danger' : 'badge-success'">{{card.label}}</div>
      <a role="button" class="star" (click)="toggleSliderProductStarred(card.id)">
        <i class="fa" [ngClass]="card.starred ? 'fa-star' : 'fa-star-o'"></i>
      </a>
    </div>
    <h5 class="card-title">{{card.title}}</h5>
    <div class="card-description">{{card.subtitle}}</div>
    <div class="price" *ngIf="!card.isSale">
      ${{card.price}}
    </div>
    <div class="price price-sale" *ngIf="card.isSale">
      <span class="old">${{card.price.old}}</span>
      {{card.price.percents}}% off
      <span class="new"> ${{card.price.new}}</span>
    </div>
  </div>
</ng-template>
