@import '../../../styles/helpers';

p-section:last-child {
  @include media-breakpoint-down(sm) {
    margin-bottom: -40px;
    display: block;

    .section {
      padding-bottom: 40px;
    }
  }
}
