.selects {
  display: flex;
  margin: 7.5px 0;

  .btn-group {
    height: 50px;

    .btn {
      width: 100%;
      margin-right: 0;
    }

    &:first-child {
      width: 65%;
    }

    &:last-child {
      width: calc(35% - 7.5px);
      margin-left: 7.5px;
    }
  }
}
