<div class="analytics-page">
  <h1 class="page-title">Analytics
    <small>
      <small>Company performance</small>
    </small>
  </h1>
  <div class="sidesWrapper">
    <div class="analyticsSide">
      <div class="row">
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="pb-5 h-100">
            <section class="widget h-100 mb-0" title="Visits Today" widget>
              <header>
                <h6>
                  Visits Today
                </h6>
                <div class="widget-controls">
                  <a data-widgster="close" title="Close" href="#"><i class="la la-remove"></i></a>
                </div>
              </header>
              <div class="widget-body">
                <div class="d-flex justify-content-between align-items-center mb-lg">
                  <h2>4,332</h2>
                  <i class="la la-arrow-right text-success rotate-315"></i>
                </div>
                <div class="d-flex flex-wrap justify-content-between">
                  <div class="mt">
                    <h6>+830</h6>
                    <p class="text-muted mb-0 mr">
                      <small>Logins</small>
                    </p>
                  </div>
                  <div class="mt">
                    <h6>0.5%</h6>
                    <p class="text-muted mb-0">
                      <small>Sign Out</small>
                    </p>
                  </div>
                  <div class="mt">
                    <h6>4.5%</h6>
                    <p class="text-muted mb-0 mr">
                      <small>Rate</small>
                    </p>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="pb-5 h-100">
            <section class="widget h-100 mb-0" title="Revenue Breakdown" widget>
              <header>
                <h6>
                  Revenue Breakdown
                </h6>
                <div class="widget-controls">
                  <a data-widgster="close" title="Close" href="#"><i class="la la-remove"></i></a>
                </div>
              </header>
              <div class="widget-body">
                <div class="row">
                  <div class="text-center col-12 col-md-6 col-lg-7">
                    <div #chartContainer style="width: 100%; height: 100px"></div>
                  </div>
                  <div class="display-flex flex-column justify-content-center col-12 col-md-5 col-lg-4">
                    <div #chartLegend></div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="pb-5 h-100">
            <section class="widget h-100 mb-0" title="App Perfomance" widget>
              <header>
                <h6>
                  App Perfomance
                </h6>
                <div class="widget-controls">
                  <a data-widgster="close" title="Close" href="#"><i class="la la-remove"></i></a>
                </div>
              </header>
              <div class="widget-body">
                <p class="text-muted d-flex flex-wrap">
                  <small class="mr-lg d-flex align-items-center">
                      <span class="circle bg-success text-success mr-xs" style="font-size: 4px;">
                        .
                      </span>
                    This Period
                  </small>
                  <small class="mr-lg d-flex align-items-center">
                      <span class="circle bg-warning text-warning mr-xs" style="font-size: 4px;">
                        .
                      </span>
                    Last Period
                  </small>
                </p>
                <h6>SDK</h6>
                <progressbar class="mb-1 progress-xs" [value]="60" type="success"></progressbar>
                <progressbar class="mb-3 progress-xs" [value]="35" type="warning"></progressbar>
                <h6>Integration</h6>
                <progressbar class="mb-1 progress-xs" [value]="40" type="success"></progressbar>
                <progressbar class="progress-xs" [value]="55" type="warning"></progressbar>
              </div>
            </section>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="pb-5 h-100">
            <section class="widget h-100 mb-0" title="Server Overview" widget>
              <header>
                <h6>
                  Server Overview
                </h6>
                <div class="widget-controls">
                  <a data-widgster="close" title="Close" href="#"><i class="la la-remove"></i></a>
                </div>
              </header>
              <div class="widget-body">
                <div class="d-flex align-items-center mb-sm">
                  <p class="width-150">
                    <small>60% / 37°С / 3.3 Ghz</small>
                  </p>
                  <div style="width: calc(100% - 150px)">
                    <ngx-trend
                      [data]="trends[0].data"
                      [gradient]="[trends[0].gradient]"
                      [height]="30"
                      [smooth]="true"></ngx-trend>
                  </div>
                </div>
                <div class="d-flex align-items-center mb-sm">
                  <p class="width-150">
                    <small>54% / 31°С / 3.3 Ghz</small>
                  </p>
                  <div style="width: calc(100% - 150px)">
                    <ngx-trend
                      [data]="trends[1].data"
                      [gradient]="[trends[1].gradient]"
                      [height]="30"
                      [smooth]="true"></ngx-trend>
                  </div>
                </div>
                <div class="d-flex align-items-center">
                  <p class="width-150">
                    <small>57% / 21°С / 3.3 Ghz</small>
                  </p>
                  <div style="width: calc(100% - 150px)">
                    <ngx-trend
                      [data]="trends[2].data"
                      [gradient]="[trends[2].gradient]"
                      [height]="30"
                      [smooth]="true"></ngx-trend>
                  </div>
                </div>
              </div>

            </section>
          </div>
        </div>
        <div class="col-12">
          <main-chart></main-chart>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-6 col-xl-4" *ngFor="let stat of mock.bigStat" [attr.key]="stat.id">
          <big-stat
            [product]="stat.product"
            [color]="stat.color"
            [total]="stat.total"
            [registrations]="stat.registrations"
            [bounce]="stat.bounce"
          ></big-stat>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <section class="widget" widget>
            <header>
              <h5>Support <span class='fw-semi-bold'>Requests</span></h5>
            </header>
            <div class="widget-body widget-table-overflow">
              <div class="table-responsive">
                <table class="table table-lg mb-0 requests-table">
                  <thead>
                    <tr class="text-muted">
                      <th>NAME</th>
                      <th>EMAIL</th>
                      <th>PRODUCT</th>
                      <th>PRICE</th>
                      <th>DATE</th>
                      <th>CITY</th>
                      <th>STATUS</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let row of table"
                      [attr.key]="row.id"
                    >
                      <td>{{row.name}}</td>
                      <td>{{row.email}}</td>
                      <td>{{row.product}}</td>
                      <td>{{row.price}}</td>
                      <td>{{row.date}}</td>
                      <td>{{row.city}}</td>
                      <td>
                        <button class="btn p-1 px-3 btn-xs btn-{{row.status === 'Pending' ? 'success' : row.status === 'Declined' ? 'danger' : 'info'}}">
                          {{row.status}}
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </section>
        </div>
      </div>
    </div>
    <div class="analyticsSide">
      <div class="row">
        <div class="lastSideElement col-12 col-md-6 col-xl-12">
          <section class="mb-5 pt-0 widget" widget>
            <div class="widget-body p-0 mt-0">
              <calendar [events]="calendarEvents" [white]="true"></calendar>
            </div>
          </section>
        </div>
        <div class="lastSideElement col-12 col-md-6 col-xl-12">
          <task-container [tasks]="mock.tasks"></task-container>
        </div>
        <div class="lastSideElement col-12 col-md-6 col-xl-12">
          <section class="widget" widget>
            <header>
              <h4>Notifications
                <span class='badge badge-pill badge-success fw-normal pull-right mt-xs'>
                      {{mock.notifications.length}}
                    </span>
              </h4>
            </header>
            <div class="widget-body notifications w-100 mt-4">
              <div *ngFor="let notification of mock.notifications"
                   class="d-flex align-items-start" [attr.key]="notification.id">
                <i class="la la-{{notification.icon}} mr text-{{notification.color}}"></i>
                <p [ngClass]="{ 'mb-0': notification.id === mock.notifications.length - 1 }"
                   [innerHtml]="notification.content"
                ></p>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
